
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="succes.css">
</head>
<body>
    <header></header>
    <main>
        <h1>Registratie compleet!</h1>
        <h2>Jouw ingevoerde data</h2>
        <p>Naam: <%= naam %></p>
        <p>Email: <%= email %></p>
        <p>Email: <%= wachtwoord %></p>
        <img src="/Dance Dancing GIF.gif" alt="gif">
    </main>
    <footer></footer>
</body>
</html>